body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
  }



  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 100%;
    margin: 3rem auto;
    padding: 0 2rem;
  }


  .progress-section {
    flex: 1;
    background-color: #1f1f1f;
    border: 1px solid #2c2c2c;
    border-radius: 8px;
    padding: 1.5rem;
    min-width: 250px;
  }

  .progress-section h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #f0f0f0;
  }

  .progress-placeholder {
    color: #999;
    font-size: 0.95rem;
  }

  footer {
    margin-top: 4rem;
    background-color: #111;
    color: #888;
    text-align: center;
    padding: 1.5rem;
    font-size: 0.9rem;
  }

  @media (max-width: 900px) {
    .container {
      flex-direction: column;
    }

    .course-box {
      width: 60%;
    }
    .courses-section {
    flex: 3;
    height: 30rem;
    max-height: 20rem;
    max-width: 100%;
    overflow-y: auto;
  }

    .progress-section {
      margin-top: 2rem;
      min-width: 50px;
    }
  }

  


/* NAVIGATION STYLES*/




header {
    background:#1f1f1f;
    color: #f0f0f0;
    padding: 1rem 2rem;
  }

  .small-text {
    font-size: 0.5em;
}


.containernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 0.9rem;
    margin-top: 1rem;
}


  nav a {
    text-decoration: none;
    color: #d0d0d0;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }


  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

  nav a:hover {
    background-color: #333;
    color: #1abc9c;
  }



        



nav li {
    margin-top: 0.75rem;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1rem;
}

.nav-links.active {
    display: block;
}


@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        background: #121212;
        padding: 1rem;
        width: 8rem;
        border-radius: 8px;
        
    }

    .menu-toggle {
        display: block;
        color: white;
    }

    .logo {
        text-align: center;
    }
}