.selector-wrapper {
  position: relative; /* Keeps .selector positioned relative to this wrapper */
  width: 100%; /* Makes it span the full screen width */
}

.selector {
  display: none;
  list-style: none;
  padding: 10px;
  border: 1px solid #0e1a2b;
  position: absolute;
  top: 50%; /* Appears below the selector */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust position to actual center */
  background: #0e1a2b;
  max-height: 200px;
  overflow-y: auto;
  z-index: 9999;
  max-width: 100%;
  bottom: 10%;

  border-radius: 8px;
}
