* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #121212;
    color: #e4e4e4;
}

header {
    background: #1f1f1f;
    color: #fff;
    padding: 1rem 2rem;

}

.small-text {
    font-size: 0.5em;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 0.9rem;
    margin-top: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #1abc9c;
  }

nav li {
    margin-top: 0.75rem;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1rem;
}

.nav-links.active {
    display: block;
}

main {
    padding: 2rem;
}

section {
    padding: 2rem 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    position: -ms-page;
}

.testimonial-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem 0;
}

.testimonial-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.elegant-button {
    background-color: #3a3d3a; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.elegant-button:hover {
    background-color: #1abc9c;
}



@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        background: #121212;
        padding: 1rem;
        width: 200px;
        border-radius: 8px;
    }


    .menu-toggle {
        display: block;
        color: white;
    }

    .logo {
        text-align: left;
        font-size: xx-small;
    }

    body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    font-size: small;
    text-align: justify;
}

.elegant-button {
    background-color: #3a3d3a; 
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
}

#sections {
    font-size: xx-small;

}

}


.ticker-strip {
    text-align: center;
    margin-top: 2rem;
}

#sections {
    padding: 20px;
    text-align: center;
    background-color: #1f1f1f;
    border: 1px solid #2c2c2c;
}

.packages-container  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.packages {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
}

.chat-now-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3a3d3a; /* WhatsApp green color */
    color: white;
    padding: 12px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    z-index: 1000;
}

.chat-now-button i {
    margin-right: 8px;
    font-size: 20px;
}

.chat-now-button:hover {
    background-color: #525252; /* Darker shade on hover */
}

